/* MEDIA (MIN-WIDTH:480px) */

@media screen and (min-width:428px) {
  .container {
    width: 428px;
  }
     
}

/* MEDIA (MIN-WIDTH:768px) */

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
  }
  .container-list{
   gap: 72px 24px
  }


    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/HERO/hero-tab.jpg);
    }
  
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/HERO/hero-tab-2x.jpg);
      }
    }
  
    .hero-title {
      max-width: 496px;
      font-size: 56px;
      line-height: 1.07;
      margin-bottom: 36px;
    }
  .title-section{
   text-align: left;
  }

  .list-item-icon{
   width: calc((100% - 24px) / 2);
  }

  .team-list {
    gap: 64px 24px;
  }

  .client-item{
    width: calc((100% - 48px) / 3);
  }

}

/* MEDIA (MIN-WIDTH:1158px) */

@media screen and (min-width: 1158px) {
  .container {
    min-width: 1158px;
  }

  .container-list{
   flex-wrap: nowrap;
  } 

    .hero {
      padding-top: 188px;
      padding-bottom: 188px;
      max-width: 1440px;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/HERO/hero.jpg);
    }
  
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/HERO/hero-2x.jpg);
      }
    }
  
    .hero-title {
      margin-bottom: 48px;
    }

  .work-section{
   display: flex;
  }

  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

    .customers {
      padding-top: 120px;
      padding-bottom: 120px;
    }
  
    .client-item {
      width: calc((100% - 120px) / 6);
    }

    .list-item-icon::before{
      display: flex;
    }

}